* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.inicio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 20px;
}

.fin {
    font-size: 1.25rem;
    color: #16a085;
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: brown;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.2rem;
    }

    .inicio {
        font-size: 1.2rem;
    }

    .fin {
        font-size: 1rem;
    }
}

/* Para ambos botones (mismo tamaño) */
.boton {
    width: 100%;         /* Esto hace que ambos botones tengan el mismo tamaño */
    padding: 15px;       /* Añadimos algo de relleno para hacerlo más grande */
    font-size: 16px;     /* Aseguramos que el texto se vea bien */
    border: none;        /* Quitamos los bordes predeterminados */
    border-radius: 5px;  /* Redondeamos las esquinas */
    cursor: pointer;     /* Hacemos que el cursor cambie al pasar sobre el botón */
}

/* Estilo específico para el botón "Siguiente Refrán" */
.boton.siguiente {
    background-color: blue;  /* Fondo azul para este botón */
    color: white;            /* Texto blanco */
}

/* Estilo para el botón "PIENSA LA RESPUESTA" */
.boton {
    background-color: red;  /* Fondo verde para el primer botón */
    color: white;               /* Texto blanco */
}
